<!DOCTYPE html>

<head>
  <title></title>
  <!-- <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet"> -->
</head>

<body>
  <nav class="navbar navbar-horizontal navbar-expand-lg nav-custom">
    <div class="container">
      <a class="navbar-brand" href="javascript:void(0)" class="logo-text">GREENDAZ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default"
        aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-default">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="javascript:void(0)">
                <img src="assets/img/brand/blue.png" />
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default"
                aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav ml-lg-auto">

          <a class="nav-item nav-link active menu-item" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link menu-item" href="#">Tiffin Services</a>
          <a class="nav-item nav-link menu-item" href="#">Corporate Services</a>
          <a class="nav-item nav-link menu-item" href="#">About Us</a>
          <a class="nav-item nav-link menu-item" href="#">Contact Us</a>
          
        </ul>
        
      </div>
      <a class="contact"><button type="button" class="btn btn-danger">
        <fa-icon class="faa-bounce animated" [icon]="faPhoneIcon" transform="rotate-150"></fa-icon> 
        +919898989898</button></a>
    </div>
  </nav>